.mainContainer{
    margin-top: 6%;
    width: 70%;
    height: 90vh;
    margin-left: 160px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    flex-direction: row;
    color : black;
}
.container{
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    padding: 0.5%;
}
.imgs-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height:90% ;
}
.twoimg-comtainer{
    display: flex;
    flex-direction: column;
    width: 16%;
    height: 35%;
}
.imgsmall1{
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid red;  
    border-right:none;
}
.image2{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    border-right:none;
    
}
.mediumimg{
    width: 36px;
    height: 44px;
}
.mainimg{
    height: 100%;
    width:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
}
.bigimg{
    width: 70%;
    height: 85%;
}
.wishlist{
    width : 86%;
    height : 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 13%;
}
.addtobag{
    border : none;
    outline: none;
    color : #fff;
    background-color: brown;
    height : 130%;
    width :93%;
    border-radius: 1px;
    cursor: pointer;
    margin-top: 40px;
    font-size: 18px;
}
.addOrRemove{
    background-color: blue;
    width: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 130%;
    margin-top: 14%;
    color: #fff;
    border : none;
    outline: none;
    border-radius: 1px;
    font-size: 18px;
}
.addbtn{
    width : 30%;
    height : 100%;
    border-radius: 100px;
    outline: none;
    border : none;
    background-color: lightgray;
    font-size: large;
}
.addwishlist{
    border : none;
    outline: none;
    color : #fff;
    background-color:  rgba(26, 1, 1, 0.733);
    height : 130%;
    width :44%;
    border-radius: 1px;
    cursor: pointer;
    margin-top: 40px;
}
.details{
    width: 60%;
    height: 110%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bookdetail{
    width : 80%;
    height : 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
}
.cardcontainer{
    width : 100%;
    height : 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.titlee{
    width : 100%;
    height : fit-content;
    text-align: left;
    letter-spacing: 0px;
    font: normal normal normal 28px/37px Roboto;
    color: #0A0102;
    position: relative;
    right : 7px; 
    opacity: 1;
}
.author{
    width : 100%;
    height : fit-content;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    color :  grey;
    font-weight: 400;
}
.card-rating{
    width : 90%;
    height: fit-content;
    display: flex;
    flex-direction: row;
}
.star{
    display: flex;
    flex-direction: row;
    background-color: green;
    font-family: 'Roboto', sans-serif;
    color :  #fff;
    width : 20%;
    align-items: center;
    justify-content: center;
    
    border-radius: 2px;
}

.rating-star{
    margin-left: 8%;
}
.authorname{
    margin-left: 2%;
}

.card-price{
    display: flex;
    flex-direction: row;
    width : 29%;
    margin-top: 2%;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
}

.discount-price {
    font-family: 'Roboto', sans-serif;
    color : black;
    font-size: x-large;
    font-weight: 700;
}

.price{
    font-family: 'Roboto', sans-serif;
    color : grey;
    margin-top: 8px;
}

.desc-book{
    width : 90%;
    height : 25%;
    
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;
}

.desc-title {
    display: flex;
    flex-direction: row;
    width :19%;
    height : 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    margin-top: 2%;
}
.dot {
    width : 7px;
    height : 7px;
    border-radius: 100px;
    background-color: grey;
}
.lorem{
    width : fit-content; 
    height :  fit-content;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: grey;
    margin-top: 2%;
}
.horizoantalline{
    width : 100%;
    height : fit-content;
    margin-top: 3%;
    margin-left: 3%;
}
.customer-feedback {
    width : 100%;
    height : 30%;
    display: flex;
    flex-direction: column;
    font-size:medium;
    text-align: left;
    margin-top: 10px;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    /* justify-content: space-around; */
}
.feedback{
    font-family: 'Roboto', sans-serif;
    font-size: large;
    color: black;
    font-weight: 700;
    margin-top: 10px;
  /* margin-top: 10px; */
    margin-left: 1%;
}

.reviews{
    width : 90%;
    height : 30%;
    margin-top: 1%;
    margin-right: 2.5%;
}
.quantity{
    width: 34px;
    height: 23px;
    text-align: center;
    border: 1px solid #878787;
    margin: 0 3px;
}


.textarea-actual-cutomerfeedback {
    border : none;
    outline: none;
    width: 100%;
}

.submit-button-container-feedback {
    width: 76px;
    height: 24px;
    background: #3371B5 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    margin-left: 400px;
}

.customer-feedback-container {
    width : 100%;
    height : 120%;
    display: flex;
    /* padding: 2%; */
    flex-direction: column;
    justify-content: space-around;
    background-color: #F5F5F5;    
    margin-top: 20px;    
    /* border-top-width : 10%;  */

}

.button {
    border : none;
    outline: none;
    width: 44px;
    height: 19px;
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
    text-transform: capitalize;
    opacity: 1;
    background: #3371B5 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.customer-feedback-container{
    margin-left: 10px;
}

@media screen and (max-width:360px){
    .mainContainer{
        /* width: 100%; */
        flex-direction: column;
        margin-left: 14%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }
    .container{
        width: 83%;
        /* padding: 0; */
        margin-left: 14%;
    }
    .twoimg-comtainer{
        display: none;
    }
    .wishlist{
        width: 85%;
        margin-left: -5px;
    }
    .details{
        width: 91%;
        margin-top: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* .bookdetail{
        width: 100%;
    } */
    .author{
        margin-left: -5px;
    }
    .card-rating{
        margin-left: -5px;
        margin-top: 1%;
        width: 136%;
    }
    .card-price{
        /* margin-top: 1%; */
        display: flex;
        justify-content: flex-start;
    }
    .horizoantalline{
        /* margin-top: 15%;
        margin-left: 0%;
        width: 128%; */
        margin-top: 20%;
        margin-left: 0%;
        width: 128%;
    }
    .desc-book{
        margin-top: 26%;
        margin-left: -37%;
    }
    .desc-title{
        width: 50%;
        margin-bottom: 7%;
    }
    .lorem{
        margin-bottom: 7%;
        width: 149%;
    }
    .customer-feedback-container{
        margin-left: 0;
        margin-right: 32%;
    }
    .rating-stars-container{
        margin-top: 2%;
    }
    .submit-button-container-feedback{
        margin-left: 209px;
    }
    .textarea-actual-cutomerfeedback{
        margin-top: 3%;
    }
}
@media screen and (min-width:360px) and (max-width:530px){
    .mainContainer{
        /* width: 100%; */
        flex-direction: column;
        margin-left: 14%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }
    .container{
        width: 83%;
        /* padding: 0; */
        margin-left: 14%;
    }
    .twoimg-comtainer{
        display: none;
    }
    .wishlist{
        width: 85%;
        margin-left: -5px;
    }
    .details{
        width: 91%;
        margin-top: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* .bookdetail{
        width: 100%;
    } */
    .author{
        margin-left: -5px;
    }
    .card-rating{
        margin-left: -5px;
        margin-top: 1%;
        width: 136%;
    }
    .card-price{
        /* margin-top: 1%; */
        display: flex;
        justify-content: flex-start;
    }
    .horizoantalline{
        /* margin-top: 15%;
        margin-left: 0%;
        width: 128%; */
        margin-top: 20%;
        margin-left: 0%;
        width: 128%;
    }
    .desc-book{
        margin-top: 26%;
        margin-left: -37%;
    }
    .desc-title{
        width: 50%;
        margin-bottom: 7%;
    }
    .lorem{
        margin-bottom: 7%;
        width: 149%;
    }
    .customer-feedback-container{
        margin-left: 0;
        margin-right: 32%;
    }
    .rating-stars-container{
        margin-top: 2%;
    }
    /* .submit-button-container-feedback{
        margin-left: 209px;
    } */
    .textarea-actual-cutomerfeedback{
        margin-top: 3%;
    }
}

@media screen and (min-width:531px) and (max-width:768px){
    .mainContainer{
        width: 85%;
        flex-direction: column;
        margin-left: 20%;
        height: 123vh;
    }
    .container{
        width: 65%;
        padding: 0;
        margin-left: -2%;
    }
    .wishlist{
        width: 85%;
        /* margin-left: -5px; */
    }
    .details{
        width: 100%;
        margin-top: 15%;
    }
    .bookdetail{
        width: 100%;
    }
    .author{
        margin-left: -5px;
    }
    .card-rating{
        margin-left: -5px;
        margin-top: 1%;
        width: 48%;
    }
    .card-price{
        margin-top: 1%;
        width: 15%;
    }
    .horizoantalline{
        /* margin-top: 5%; */
        width: 100%;
        margin-left: -18%;
    }
    .desc-book{
        margin-top: 2%;
        margin-left: -25%;
    }
    .desc-title{
        width: 18%;
        margin-bottom: 3%;
    }
    .customer-feedback-container{
        margin-left: 0;
        margin-right: 18%;
    }
    .rating-stars-container{
        margin-top: 2%;
    }
    .submit-button-container-feedback{
        margin-left: 89%;
    }
    .textarea-actual-cutomerfeedback{
        margin-top: 3%;
    }
    .feedback{
        margin-left: 0;
    }
    .addOrRemove{
        font-size: 18px;
    }
}
@media screen and (min-width:769px) and (max-width:1024px){
    .mainContainer{
        /* width: 85%; */
        flex-direction: column;
        margin-left: 20%;
        height: 123vh;
    }
    .container{
        width: 80%;
        padding: 0;
        margin-left: -2%;
    }
    .wishlist{
        width: 85%;
        /* margin-left: -5px; */
    }
    .details{
        width: 100%;
        margin-top: 15%;
    }
    .bookdetail{
        /* width: 100%; */
        margin-left: -32%;
    }
    .author{
        margin-left: -5px;
    }
    .card-rating{
        margin-left: -5px;
        margin-top: 1%;
        width: 48%;
    }
    .card-price{
        margin-top: 1%;
        width: 15%;
    }
    .horizoantalline{
        margin-top: 5%;
        width: 100%;
        margin-left: -30%;
    }
    .desc-book{
        margin-top: 4%;
        margin-left: -39%;
    }
    .desc-title{
        width: 18%;
        margin-bottom: 3%;
    }
    .customer-feedback-container{
        margin-left: 0;
        margin-right: 32%;
    }
    .rating-stars-container{
        margin-top: 2%;
    }
    .submit-button-container-feedback{
        margin-left: 89%;
    }
    .textarea-actual-cutomerfeedback{
        margin-top: 3%;
    }
    .feedback{
        margin-left: 0;
    }
    .addOrRemove{
        font-size: 22px;
    }
}