* {
    margin: 0;
    padding: 0;
    width: auto;
}
.appbar {
    width: 100%;
    height: 70px;
    background-color: #a03037;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.appbar div {
    display: flex;
    /* padding: 0 25px; */
    margin-left: 8%;
}
.appbar div img {
    width: 30px;
    height: 30px;
}
.appbar div p {
    color: white;
    /* padding-left: 5px; */
    font-size: 20px;
    width: auto;
    margin-left: 3%;
}
.appbar .input {
    width: 437px;
    height: 29px;
    border-radius: 3px;
    align-content: center;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 3px;
    flex-grow: 0;
    margin-left: 20px;
}
.appbar .input .searchicon {
    color: grey;
}
.appbar .input input {
    height: 29px;
    outline: none;
    border-radius: 3px;
    border: none;
}

.appbar div .pro {
    color: white;
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: -158%;
}
.appbar div .pro .proicon {
    color: white;
    margin-left: 10px;
}

.appbar div .cart {
    color: white;
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 26%;
}
.appbar div .cart .carticon {
    color: white;
    margin-left: 4px;
}
.proicon {
    margin-right: 2px;
}


.book{
    margin-top: 4px;
}

@media screen and (max-width: 360px){
   .appbar{
       width: 100%;
       display: flex;
       justify-content: space-between;
   }
    .appbar div{
        padding: 12px;
    }
    .input input {
        width: 50%;
    }
    .appbar .book{
        display: none;
    }
    .appbar div .pro {
        margin-left: -39px;
    }
    .appbar div .cart {
        margin-left: 1%;
    }
    .appbar div img{
        margin-left: -50%;
    }
    .appbar .input {
        width: auto;
        margin-left: 1%;
    }
}
/* @media screen and (max-width: 361px) and (max-width: 530px){
    .appbar{
        width: 100%;
    }
    .appbar div{
        padding: 12px;
    }
    .input input {
        width: 50%;
    }
    .appbar .book{
        display: none;
    }
} */
@media screen and (max-width: 531px) and (max-width: 768px){
  
    .appbar .input{
        width: auto;
    }
    .input input {
        width: 50%;
    }
}