.cartcontent {
    /* width: max-width; */
    /* height: 89.4vh; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: Roboto;
    margin: 0 15.5%;
    padding: 30px;
}
.cartcontent .mycart {
    margin-top: 20px;
    font-size: 20px;
}
.cartcontent .Home {
    top: 79px;
    left: 219px;
    width: 60px;
    height: 16px;
    text-align: left;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #0a0102;
    opacity: 1;
}
.cartcontent .cartitems .part1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cartcontent .cartitems .part1 .container {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cartcontent .cartitems .part1 .container .items {
    padding: 10px;
}
.cartcontent .cartitems .part1 .container .items .author {
    font-size: 15px;
    color: #878787;
    padding-bottom: 8px;
}
.cartcontent .cartitems .part1 .container .items .price {
    padding-bottom: 5px;
}
.cartcontent .cartitems .part1 .container .items .inlineicons {
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.cartcontent .cartitems .part1 .container .items .inlineicons .quantity {
    width: 34px;
    height: 23px;
    text-align: center;
    border: 1px solid #878787;
    margin: 0 3px;
}
.cartcontent .cartitems .part1 .container .items .inlineicons .remove {
    padding: 0 10px;
}
.cartcontent .cartitems .part1 img {
    width: 60px;
    height: 80px;
    margin-right: 20px;
}
.cartcontent .cartitems .part1 Button {
    align-self: flex-end;
    background-color: #3371b5;
    color: white;
}
.cartcontent .box {
    width: 600px;
    height: auto;
    border: 1px solid #878787;
    padding: 15px;
    margin-bottom: 20px;
    margin: 20px 0px;
}
.cartcontent .customerdetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.cartcontent .customerdetails .addressfield {
    width: 480px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.cartcontent .customerdetails Button {
    align-self: flex-end;
    background-color: #3371b5;
    color: white;
}
.btn{
    /* margin-left: 73%; */
    display: flex;
    justify-content: flex-end;
}
.btn_check{
    /* margin-left: 73%; */
    display: flex;
    justify-content: flex-end;
}
@media screen and (max-width:360px){
    .cartcontent .mycart{
        margin-top: 0;
    }
    .cartcontent{
        width: 91%;
        margin-left: 15px;
    }
    .cartcontent .box{
        width: 100%;
    }
    .cartcontent .cartitems .part1 Button{
        margin-top: 12%;

    }
    .btn{
        margin-top: 5%;
        /* margin-left: 41%; */
        display: flex;
        justify-content: flex-end;
    }
    .cartcontent .customerdetails .addressfield{
        flex-direction: column;
        width: 100%;
    }
    .btn_check{
        /* margin-left: 52%; */
        display: flex;
        justify-content: flex-end;
    }
    .cartcontent .cartitems .part1 .container{
        margin-left: 0;
    }
    /* .address{
        width: 100%;
    } */
}
@media screen and (min-width:361px) and (max-width:530px){
    .cartcontent .mycart{
        margin-top: 0;
    }
    .cartcontent{
        width: 91%;
        margin-left: 15px;
    }
    .cartcontent .box{
        width: 100%;
    }
    .cartcontent .cartitems .part1 Button{
        margin-top: 12%;
    }
    .btn{
        /* margin-left: 64%; */
        display: flex;
        justify-content: flex-end;
    }
    .cartcontent .customerdetails .addressfield{
        flex-direction: column;
        width: 100%;
    }
    .btn_check{
        /* margin-left: 71%; */
        display: flex;
        justify-content: flex-end;
    }
    .cartcontent .cartitems .part1 .container{
        margin-left: 0;
    }
}
@media screen and (min-width:531px) and (max-width:768px){
    .cartcontent{
        /* width: 91%; */
        margin-left: 11%;
    }
    /* .cartcontent .box{
        width: 106%;
    }
    .cartcontent .cartitems .part1{
        margin-left: 2%;
    }
    .btn_check{
        display: flex;
        justify-content: flex-end;
    } */
    .cartcontent .cartitems .part1 .container{
        margin-left: 0;
    }
}
@media screen and (min-width:769px) and (max-width:1024px){
    .cartcontent .cartitems .part1{
        margin-left: 3%;
    }
}